*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
} */

html,body {
    height: 100vh;
    background-image: url('../img/gray_jean.png');
}
.main{
    margin: 15px 25px;
    border-top: 5px solid orangered;
}

header {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.top_right{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.right_header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.links a{
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.links a:not(icon):hover{
    background-color: orangered;
    color: white;
    font-weight: bold;
}
.links a.active{
    background-color: orangered;
    color: white;
}
.below__header{
    background-image: url('../img/denis-degioanni-9wH624ALFQA-unsplash\ \(2\).jpg');
    height: 400px;
    display: flex;
    align-items: center;
}

.form__container{
    height: 350px;
    width: 400px;
    background-color: white;
    padding: 20px 30px;
     margin-top: 5px;
    margin-left: 20px;
}
   .form__container > p{
    color: orangered;
    font-weight: 400;
} 

.input_row{
    margin: 10px auto;
}
.input_row form{
    width: 400px;
}
.input_row p > select{
    width: 100%;
    padding: 8px 10px;
}
.input_row > label, .form__container > span, .input_row p > select{
    color: #a1a199;
    font-weight: 500;
}
form button{
    background-color: orangered;
    color: white;
    border: 0;
    outline: 0;
    font-weight: 500;
    padding: 15px 18px;
}
form button:hover{
    background-color: rgba(255, 68, 0, 0.749);
    cursor: pointer;
}
.how__it__works{
    background-color: white;
    height: 450px;
    display: flex;
    align-items: center;
    padding: 40px 50px;
}
.left__how__it__works{
    width: 70%;
    height: 450px;
    padding-top: 20px;
}
.right__how__it__works{
    height: 450px;
    padding-top: 20px;
}
.right__how__it__works img{
    width: 100%;
   
}
.service__options p{
  display: flex;
  align-items: center;
  justify-content: flex-start;  
}
.service__options {
    padding-top: 20px;
}
.left__how__it__works h2{
    padding: 20px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 48px;
}
.our__features{
    background-color: white;
    padding: 40px 50px;
    border-top: 2px solid #eee;
}
.inner__features{
    display: flex;
}
.column{
    width: 50%;
}
.fearure__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    margin: 10px 0 10px;
}
.fearure__row .icon_holder{
    margin-right: 10px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
}
.fearure__row .content{
    height: 80px;

}
.env{
    align-items: center;
    justify-content: center;
    background-image: url('../img/gray_jean.png');
    padding-top: 2px;
    padding-bottom: 4px;
}
.icon-feat{
    color: orangered;
    height: 90px;
    width: 90px; 
    border-radius: 50%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-right: 45%;
    margin-left: 45%;
}
.icon-featured{
    color: white;
}
.env h2{
    text-align: center;
    margin-top: 25px;
    font-size: xx-large;
}
.env h4 {
    text-align: center;
    margin-top: 25px;
    font-size: large;
    margin-bottom: 5px;
    color: #a1a199;
}
.env h4>a {
    color: orangered;
}
.im{
    margin-top: 25px;
    border-top: 0.5px solid #a1a199;
    margin-right: 10%;
    margin-left: 10%;
}
.im h3{
    margin: 30px;
    text-align: center;
    font-size: x-large;
    font-weight: 100;
}
.im img{
   height: 65px;
    margin: 15px;
}
.abt{
    display: flex;
    background-color:black ;
    height: 200px;
}
.abt .abt1{
    width: 65%;
    margin-right: 120px;
}
.abt .abt2{
    margin-right: px;
   
}
.abt1 h4 {
    color: orangered;
    font-size: larger;
    font-weight: 900;
    margin: 15px 20px;
}
.abt1 p {
    color: #a1a199;
    margin-left: 20px;
}
.abt1 a {
    text-decoration: none;
    color: white;
}
.abt1 a:hover{
    text-decoration: underline;
}
.abt2 h5{
padding-top: 15px;
color: white;
}
.abt2 span {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    padding-bottom: 50px;
}
.abt2 #in{
    color: #a1a199;
    margin-top: 18px;
}
.abt2 p{
    margin-top: 12px;
}
.abt2 p>i {
    text-decoration: none;
    color: orangered;
}
.abt2 p>a {
    text-decoration: none;
    color: white;
}
.abt2 p>a:hover{
    text-decoration: underline;
}
.hold {
    
    display: flex; 
   
    
} 
 .abt2 .hold>a {
    color: black;
    margin: 6px;
    height: 35px;
    width: 35px; 
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
     
}
.abt2 .hold> i {
    width: 100%;
    height: 100%;
}
.abt2 .hold> i:hover{
    background-color: blue;
}
.up__arrow{
    background-color:orangered;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 25px;
    position: fixed;
    bottom: 0;
    border: 0;
    outline: none;
    font-size: xx-large;
}

.up__arrow:hover{
    cursor: pointer;
    background-color: #00000095;
}


